@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PARTY!</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
@* <div> *@
@*     <div> *@
@*         THIS IS THE FIRST PROJECT IN LENOVO<HR> *@
@*         SO WE'RE GONNA HAVE A PARTY !!! *@
@*     </div> *@
@*     <a href="http://localhost:5000/Home/RsvpForm/">RSVP NOW!</a> *@
@* </div> *@
<div class="text-center m-2">
    <h3> We're going to have an exciting party!</h3>
    <h4>And YOU are invited!</h4>
    <a class="btn btn-primary" asp-action="RsvpForm">RSVP Now</a>
</div>
</body>
</html>